h1{
    text-align: center;
}

.cp-body{
    background-color: "f5f5f5";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 25px 50px 75px 50px;
}

.nsnp-subtitle{
    text-align: center;
    font-style: italic;
}

.backlink{
    margin-top: 25px;
}